/****************************************************************************************/
/* This file contains all of the css styling applied to different elements and classes  */
/****************************************************************************************/


/************************************************/
/* Contains the background for the overall body */
/************************************************/

body{
    background-image:url("../images/little_pluses.png")
}

/******************************************************************************/
/*  Sets height/formating for the header row  (keeps timer / questions left)  */
/******************************************************************************/

#HeaderRow {
    height:70px;
    background-color:#000099;
    color: white;;
    margin-top:30px;
    text-align:center;
    align-content:center;
}

#SecondRow {height:35px;
    background-color: aquamarine;}
    
#ThirdRow {height:50px;
    background-color: aquamarine;}

.left-pane {background-color:#33ccff}

.right-pane{background-color:#00ffcc}

ol{
    margin-left:0px;
    padding-left:15px;
}


/*********************************************************************************/
/*  Sets formatting for the bottom bar:  Three states, the first is the default  */
/*  and then the formatting when user gets the question right and wrong.         */
/*********************************************************************************/

.bottom-class{
    background-color:#00ffcc;
    height:50px;
    margin-top:20px;
    text-align:center;}

.bottom-class-correct{
    background-color:green;
    height:50px;
    margin-top:20px;
    text-align:center;}

.bottom-class-incorrect{
    background-color:red;
    height:50px;
    margin-top:20px;
    text-align:center;}

/*****************************************************************************/
/*  Sets format for the 4 buttons that contain the multiple choice answers   */
/*****************************************************************************/
           
.button-container{
    background-color: #3366ff;
    color: white;
}

